{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Краулер</title>
</head>
<body>
<div class="container">
    <p>Укажите временной период для поиска</p>

    <form method="post" class="form center">
        {% csrf_token %}
        <label>Начало периода <input type="date" name="start_date"></label>
        <label>Конец периода <input type="date" name="end_date"></label>
        <br/>
        {% for source in sources %}
            <label><input type="checkbox" name="{{ source.name }}">{{ source.label }}</label>
        {% endfor %}
        <input type="submit" name="create_table" value="Создать таблицу">
    </form>
    <form method="post" class="form center">
        {% csrf_token %}
        <div class="type_info center">
            {% if table %}
                <table>
                    <caption>Инциденты за выбранный период</caption>
                    <tr>
                        <th>Инцидент</th>
                        <th>Статьи</th>
                        <th>Даты выхода</th>
                    </tr>
                    {% for incident_index, incident_length, incident, first_index, first_url, first_header, first_date in table %}
                        <tr>
                            <th rowspan="{{ incident_length }}" scope="rowgroup">Инцидент {{ incident_index }}</th>
                            <td><a href="{{ first_url }}">{{ first_header }}</a></td>
                            <td>{{ first_date }}</td>
                            <td>
                                <select name="{{ first_index }}">
                                    {% for index in incident_indexes %}
                                        {% if index == incident_index %}
                                            <option selected id="{{ index }}">Инцидент {{ index }}</option>
                                        {% else %}
                                            <option id="{{ index }}">Инцидент {{ index }}</option>
                                        {% endif %}
                                    {% endfor %}
                                    <option id="-1">Не релевантная статья</option>
                                </select>
                            </td>
                        </tr>
                        {% for article_index, url, header, date in incident %}
                            <tr>
                                <td><a href="{{ url }}">{{ header }}</a></td>
                                <td>{{ date }}</td>
                                <td>
                                    <select name="{{ article_index }}">
                                        {% for index in incident_indexes %}
                                            {% if index == incident_index %}
                                                <option selected id="{{ index }}">Инцидент {{ index }}</option>
                                            {% else %}
                                                <option id="{{ index }}">Инцидент {{ index }}</option>
                                            {% endif %}
                                        {% endfor %}
                                        <option id="-1">Не релевантная статья</option>
                                    </select>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </table>
            {% endif %}
        </div>
        <p>{{ verdict }}</p>
        <div>
            <input type="submit" name="accept_result" value="Подтвердить результат">
    </form>
    <form method="post" class="form center">
        {% csrf_token %}
        <input type="submit" name="create_incident" value="Добавить инцидент">
    </form>
    <a href="./download" download>Скачать отчёт</a>
</div>
</body>
</html>
